[Desktop Entry]
Encoding=UTF-8
Version=3
Type=Application
Terminal=false
Exec=/usr/bin/bookon
Name=Bookon
Icon=/usr/share/icons/bookon128.png
Categories=Development